@font-face {
    font-family: caveat;
    src: url(../other/caveat-regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    font-family: caveat, serif;
}

#main {
    background-color: antiquewhite;
}


/* Display of the Menu Options */
#nav-bar ul {
    list-style-type: none;
    background-color: #5f9ea0;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#nav-bar li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    cursor: pointer;
}

#nav-bar a {
    text-decoration: none;
}