@font-face {
    font-family: Monaco;
    src: url(../other/Monaco.ttf)
}

* {
    margin: 0;
    padding: 0;
    font-family: Monaco, serif;
}

#coming-soon {

    width: 60%;
    height: 100%;
    margin: 50px auto;
}

#text {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

