#main-content {
    display: block;
    border-radius: 25px;
    height: 260px;
    width: 350px;
    background: antiquewhite;
    opacity: 80%;
    position: absolute;
    left: 40%;
    top: 20%;
}

#main-content h2 {
    margin-top: 7px;
    text-align: center;
    font-size: 33px;
    color: crimson;
    margin-bottom: 5px;
}

#main-content p {
    margin-top: 10px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    color: crimson;
}


#tour-website {
    position: absolute;
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    bottom: 40%;
    left: 33%;
}

#tour-website a {
  text-decoration: none;
}

#homepage {
  position: absolute;
  height: 87%;
  width: 100%;
  background-color: #7cafb1;
}

#gallery-content {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}

#home-image {
  position: absolute;
  object-fit: contain;
  left: 50%;
  transform: translate(-50%);
}
#triangle {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #7cafb1;
  top: 92%;
  left: 50%;
  transform: translate(-50%);
}

.row {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
  top: 97%;
}

.column {
  flex: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  width: 100%;
  vertical-align: middle;
}
