@font-face {
    font-family: caveat;
    src: url(../other/caveat-regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    font-family: caveat;
    text-align: center;
}


.contact-title {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  color: orange;
  text-transform: uppercase;
  transition: all 2s ease-in-out;
  font-weight: bold;
}

.contact-title h1{
  font-size: 40px;
  line-height: 10px;
  padding: 10px;
}e

.contact-title h2 {
  font-size: 30px;
  padding: 10px;
}

form {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  transition: all 2s ease-in-out;
}

.form-control {
  width: 475px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #968d81;
  color: black;
  font-size: 30px;
}

input {
  height: 45px;
}

form .submit {
  background: #7cafb1;
  border-color: transparent;
  color: black;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight; bold;
  height: 50px;
  margin-top: 20px;
  width: 200px;
}

form .submit:hover {
  cursor: pointer;
  background-color: #395e60;
}
